
.hamburger {
  position: absolute;
  top: 8px; /* Adjust to match your toolbar padding */
  left: 8px; /* Adjust to match your toolbar padding */
  color: #1e3a8a;           /* Dark blue icon color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); /* Shadow effect */
  border-radius: 7px;
  border:none;
  margin: 10px;
  
}

.hamburger:hover {
  background-color: #cbd5e1; /* Slightly darker blue on hover */
}

.app-title {
  margin-left: 60px; /* Add spacing to avoid overlapping the hamburger button */
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: relative;
  background-color: #e0e7ff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.4);
}


