<div *ngIf="booking; else notFoundTemplate" class="view-booking-container">
  <h1>View Booking</h1>


  <div class="flight-details">
    <p>
      <strong>Origin:</strong> {{ booking.flight.origin }} <br />
      <strong>Boarding:</strong> {{ booking.flight.departureDate }} {{ booking.flight.departureTime }}
    </p>
    <p>
      <strong>Destination:</strong> {{ booking.flight.destination }} <br />
      <strong>Landing:</strong> {{ booking.flight.arrivalDate }} {{ booking.flight.arrivalTime }}
    </p>
  </div>


  <p><strong>No. of Passengers:</strong> {{ booking.getPassengerCount() }}</p>


  <div *ngFor="let passenger of booking.passengers; let i = index">
    <h3>Passenger {{ i + 1 }}</h3>
    <p>
      <strong>Name:</strong> {{ passenger.fullName }} <br />
      <strong>Passport No.:</strong> {{ passenger.passportNumber }}
    </p>
  </div>
</div>

<ng-template #notFoundTemplate>
  <div class="booking-not-found">
    <h1>Booking Not Found</h1>
    <p>We could not locate the booking you were looking for.</p>
  </div>
</ng-template>
