<div class="booking-container" *ngIf="flight; else noFlight">
    <h1>Book a flight</h1>
    <div class="flight-details">
      <p>
        <strong>Origin:</strong> {{ flight.origin }} 
        <strong>Boarding:</strong> {{ flight.departureDate }} {{ flight.departureTime }}
      </p>
      <p>
        <strong>Destination:</strong> {{ flight.destination }} 
        <strong>Landing:</strong> {{ flight.arrivalDate }} {{ flight.arrivalTime }}
      </p>
    </div>
  </div>
  
  <ng-template #noFlight>
    <p class="no-flight-message">Flight not found.</p>
  </ng-template>
  

  