footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #e0e7ff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.4);
  border-top: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 16px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.help-icon {
  background-color: transparent;
  color: #1e3a8a;
  border: none;
  border-radius: 7px;
  margin-right: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.help-icon:hover {
  background-color: #cbd5e1;
  color: #1e3a8a;
}
