<div class="flight-card-container" *ngIf="filteredFlights.length > 0; else noFlights">
  <div *ngFor="let flight of filteredFlights" class="flight-card" (click)="bookFlight(flight.flightNo)">
    <img [src]="flight.destinationImage" alt="Destination Image" class="destination-image" />
    <div class="flight-details">
      <h3>{{ flight.destination }} </h3>
      <h3>Departure: {{ flight.departureDate }} </h3>

    </div>
  </div>
</div>

<ng-template #noFlights>
  <p class="no-flights-message">>No flights available for the coming week.</p>
</ng-template>
